<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProteomeX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div>
    <div class="ProteomeX">
        <p>ProteomeX</p>
    </div>
    <div class="data">
        <div>{{id}}</div>
        <div>
            Original record: <a href="http://proteomecentral.proteomexchange.org/cgi/GetDataset?ID={{id}}">here</a>
        </div>
    </div>
</div>

</html>
