<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProteomeX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div>
    <!--- <div class="ProteomeX">
        <p>ProteomeX</p>
    </div> --->
    <div class="data">
        <h1>{{id}}</h1>
        <div>
            <table>
                <tr>
                    <td>Title</td>
                    <td>{{title}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{description}}</td>
                </tr>
                <tr>
                    <td>HostingRepository</td>
                    <td>{{repo}}</td>
                </tr>
                <tr>
                    <td>AnnounceDate</td>
                    <td>{{date}}</td>
                </tr>
                <tr>
                    <td>AnnouncementXML</td>
                    <td><a href="http://proteomecentral.proteomexchange.org/cgi/GetDataset?ID={{id}}-1&outputMode=XML&test=no">{{xml_url}}</a></td>
                </tr>
                <tr>
                    <td>DigitalObjectIdentifier</td>
                    <td>{{doi}}</td>
                </tr>
                <tr>
                    <td>ReviewLevel</td>
                    <td>{{review_level}}</td>
                </tr>
                <tr>
                    <td>DatasetOrigin</td>
                    <td>{{dataset_origin}}</td>
                </tr>
                <tr>
                    <td>RepositorySupport</td>
                    <td>{{repo_support}}</td>
                </tr>
                <tr>
                    <td>PrimarySubmitter</td>
                    <td>{{primary_submitter}}</td>
                </tr>
                <tr>
                    <td>SpeciesList</td>
                    <td>{{species_list}}</td>
                </tr>
                <tr>
                    <td>ModificationList</td>
                    <td>{{modification_list}}</td>
                </tr>
                <tr>
                    <td>Instrument</td>
                    <td>{{instrument}}</td>
                </tr>
                <tr>
                    <td>Publication</td>
                    <td>{{publication}}{% if publication_url %}[<a href="{{publication_url}}">pubmed</a>]{% endif %}</td>
                </tr>
                <tr>
                    <td>Related records</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Keyword</td>
                    <td>{{keyword}}</td>
                </tr>
                <tr>
                    <td>Related Datasets:</td>
                </tr> 
                {% for item in related_records%}
                <tr>
                    <td></td>
                    <td><a href="{{url_for('record', id=item)}}">{{item}}</a></td>
                <tr>
                {% endfor %}
            </table>
            Original record: <a href="http://proteomecentral.proteomexchange.org/cgi/GetDataset?ID={{id}}">here</a>
        </div>
    </div>
</div>

</html>
